
*{
    margin: .4rem;
    padding: 0px;
}
body{
    border: solid #8697A6 2px;
    border-radius: 8px;
    background-color: #344F59;
}
header{
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    margin-bottom: -16px;
    font-family: "Roboto";
}
header h1{
    text-shadow: 2px 2px 4px;
}
main, header{
    background-color: #BACBD9;
}

main h2{
    margin: 1rem;
    padding-top: 14px;
    text-align: justify;
    font-size: 11px;
    color: #173840;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 0.5px
}
main img{
    margin: auto 1.13rem 5px ;
    border-radius: 15px;
    border: solid 2px #173840;
}
footer{
    margin-top: -16px;
    background-color: #BACBD9;
    color: black;
    text-align: center;
}
footer h1{
    font-size: 20px;
}
footer h3{
    text-align: end;
    color: black;
}